*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    color: #01050E;
    font: 10px/1.735 Arial, sans-serif;
    letter-spacing: -.002rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    -o-font-smoothing: subpixel-antialiased;
}

.page_fixed {
    overflow: hidden;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.icon_heart {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2013.7%2012%22%3E%3Cpath%20d%3D%22M10.1%200C7.7%200%206.9%202%206.9%202s-1-2-3.2-2C1.3%200%200%201.9%200%203.9%200%207.1%206.9%2012%206.9%2012s6.8-4.8%206.8-8.1c0-2-1.3-3.9-3.6-3.9z%22%20fill%3D%22%23e2574c%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
    width: 14px;
    height: 14px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    padding: 24px 0;
    flex: 1 1 auto;
}

.content__in {
    min-width: 320px;
    max-width: 1300px;
    padding: 0 16px;
    margin: 0 auto;    
}

@media (min-width: 860px) {
    .content__in {
        padding: 0 24px;
    }
}

.content__heading {
    font-size: 3rem;
    line-height: 1.4;
    margin-bottom: 16px;
    max-width: 800px;
    margin: 0 auto;
}

@media (min-width: 860px) {
    .content__heading {
        font-size: 4rem;
    }
}

.content__intro {
    font-size: 1.6rem;
    max-width: 800px;
    margin: 0 auto;
}

.gallery {
    margin: 24px 0;
}

.gallery__in {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px -16px -8px;
}

.gallery__item {
    flex: 1 1 100%;
    height: 240px;
    margin: 0 8px 16px 8px;
    background-color: #F9F9F9;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (min-width: 860px) {
    .gallery__item {
        flex: 1 1 240px;
    }
}

.gallery__item:nth-child(7n+1) {
    flex-basis: 550px;
}

.gallery__item:nth-child(7n+4) {
    flex-basis: 460px;
}

.gallery__item-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.gallery__item-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Polyfill for object fit */
    font-family: 'object-fit: cover;';
    cursor: pointer;
    transition: opacity 150ms ease-in-out;
}

.gallery__item-picture:hover {
    opacity: 0.75;
}

.gallery__item-name {
    height: 48px;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    padding: 0 24px;
}

.footer {
    height: 50px;
    flex: 0 0 50px;
    background-color: #01050E;
}

.footer__in {
    height: 100%;
    min-width: 320px;
    max-width: 1300px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

@media (min-width: 860px) {
    .footer__in {
        padding: 0 24px;
    }
}

.footer__credentials {
    color: #fff;
    text-align: center;
}

.footer__credentials span {
    vertical-align: middle;
    font-size: 1.4rem;
}

.footer__credentials .icon {
    margin: 0 8px;
}

.modal {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal_visible {
    visibility: visible;
}

.modal_visible .modal__container {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.modal__container {
    position: relative;
    z-index: 2000;
    max-width: 1200px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    will-change: transform;
    transition:
        opacity 150ms ease-in-out,
        visibility 150ms ease-in-out,
        transform 150ms ease-in-out;
}

@media (max-width: 1200px) {
    .modal__container {
        margin: 0 24px;
    }
}

@media (max-width: 860px) {
    .modal__container {
        margin: 0 16px;
    }
}

.modal__picture {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 96px);
    min-height: 200px;
    display: block;
    object-fit: cover;
    /* Polyfill for object fit */
    font-family: 'object-fit: cover;';
}

.modal__overlay {
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(1, 5, 14, 0.9);
    cursor: pointer;
}

.is-desktop .modal__overlay:focus:before,
.is-desktop .modal__overlay:hover:before,
.is-touch .modal__overlay:active:before {
    opacity: 1;
}

.modal__overlay:before {
    content: '';
    position: absolute;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%23fff' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    right: 16px;
    top: 16px;
    opacity: 0.5;
    transition: opacity 150ms ease-in-out;
}
