<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Cats&Dogs">
    <title>Cats&Dogs</title>
    <link rel="stylesheet" href="<%= publicPath %>assets/css/index.css">
</head>
<body class="page">
    <div class="main">
        <div class="content">
            <div class="content__in">
                <div class="content__heading">Lorem ipsum dolor sit amet, consectetur.</div>
                <div class="content__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor blanditiis sint doloremque qui laborum vel harum culpa maiores delectus. Voluptate porro facere, maxime quia delectus eligendi voluptates dolore veritatis assumenda inventore id iure perferendis. Iste aut obcaecati porro cum, autem provident, error quibusdam voluptates officiis minus voluptas corporis accusantium non nostrum amet nesciunt, qui hic distinctio dignissimos suscipit laudantium animi.</div>
                <div class="gallery">
                    <div class="gallery__in">
                        <div class="gallery__item">
                            <div class="gallery__item-container">
                                <img
                                    class="gallery__item-picture"
                                    src="<%= publicPath %>assets/i/preview/044i23yb70aysaz4u.jpg"
                                    data-original="<%= publicPath %>assets/i/044i23yb70aysaz4u.jpg">
                            </div>
                            <div class="gallery__item-name">Карри</div>
                        </div>
                        <div class="gallery__item">
                            <div class="gallery__item-container">
                                <img
                                    class="gallery__item-picture"
                                    src="<%= publicPath %>assets/i/preview/07v7xd8kt9m7d9thg.jpg"
                                    data-original="<%= publicPath %>assets/i/07v7xd8kt9m7d9thg.jpg">
                            </div>
                            <div class="gallery__item-name">Лэри</div>
                        </div>
                        <div class="gallery__item">
                            <div class="gallery__item-container">
                                <img
                                    class="gallery__item-picture"
                                    src="<%= publicPath %>assets/i/preview/3n83p323ubrjeuawu.jpg"
                                    data-original="<%= publicPath %>assets/i/3n83p323ubrjeuawu.jpg">
                            </div>
                            <div class="gallery__item-name">Чинга</div>
                        </div>
                        <div class="gallery__item">
                            <div class="gallery__item-container">
                                <img
                                    class="gallery__item-picture"
                                    src="<%= publicPath %>assets/i/preview/4oa46o4lzefa5ww2z.jpg"
                                    data-original="<%= publicPath %>assets/i/4oa46o4lzefa5ww2z.jpg">
                            </div>
                            <div class="gallery__item-name">Эльцо</div>
                        </div>
                        <div class="gallery__item">
                            <div class="gallery__item-container">
                                <img
                                    class="gallery__item-picture"
                                    src="<%= publicPath %>assets/i/preview/5282o5y8rx17ob9u1.jpg"
                                    data-original="<%= publicPath %>assets/i/5282o5y8rx17ob9u1.jpg">
                            </div>
                            <div class="gallery__item-name">Динга</div>
                        </div>
                        <div class="gallery__item">
                            <div class="gallery__item-container">
                                <img
                                    class="gallery__item-picture"
                                    src="<%= publicPath %>assets/i/preview/5xbm6yya92vmty73k.jpg"
                                    data-original="<%= publicPath %>assets/i/5xbm6yya92vmty73k.jpg">
                            </div>
                            <div class="gallery__item-name">Прима</div>
                        </div>
                        <div class="gallery__item">
                            <div class="gallery__item-container">
                                <img
                                    class="gallery__item-picture"
                                    src="<%= publicPath %>assets/i/preview/7dv79jby3j755mgmp.jpg"
                                    data-original="<%= publicPath %>assets/i/7dv79jby3j755mgmp.jpg">
                            </div>
                            <div class="gallery__item-name">Пинга</div>
                        </div>
                        <div class="gallery__item">
                            <div class="gallery__item-container">
                                <img
                                    class="gallery__item-picture"
                                    src="<%= publicPath %>assets/i/preview/7z6yv68ul525678kn.jpg"
                                    data-original="<%= publicPath %>assets/i/7z6yv68ul525678kn.jpg">
                            </div>
                            <div class="gallery__item-name">Синди</div>
                        </div>
                        <div class="gallery__item">
                            <div class="gallery__item-container">
                                <img
                                    class="gallery__item-picture"
                                    src="<%= publicPath %>assets/i/preview/x7e5rin0wl3q3slqw.jpg"
                                    data-original="<%= publicPath %>assets/i/x7e5rin0wl3q3slqw.jpg">
                            </div>
                            <div class="gallery__item-name">Урма</div>
                        </div>
                        <div class="gallery__item">
                            <div class="gallery__item-container">
                                <img
                                    class="gallery__item-picture"
                                    src="<%= publicPath %>assets/i/preview/z99hfz7k8o0951w7z.jpg"
                                    data-original="<%= publicPath %>assets/i/z99hfz7k8o0951w7z.jpg">
                            </div>
                            <div class="gallery__item-name">Флери</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer__in">
                <div class="footer__credentials">
                    <span>Разработано и спроектировано с</span>
                    <i class="icon icon_heart" aria-hidden="true"></i>
                    <span>в ШРИ &copy; 2017</span>
                </div>
            </div>
        </div>
    </div>
    <script>
        if ('ontouchstart' in window || navigator.MaxTouchPoints > 0 || navigator.msMaxTouchPoints > 0) {
            document.documentElement.classList.add('is-touch')
        } else {
            document.documentElement.classList.add('is-desktop')
        }
    </script>
    <script src="//cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="<%= publicPath %>assets/js/vendor/lazyload.min.js"></script>
    <script src="<%= publicPath %>assets/js/index.js"></script>
</body>
</html>
